In [ ]:
!pip install pandas_dedupe
!pip install recordlinkage

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas_dedupe
  Downloading pandas_dedupe-1.5.0-py3-none-any.whl (12 kB)
Collecting dedupe>=2.0.0
  Downloading dedupe-2.0.23-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.8/143.8 KB 3.6 MB/s eta 0:00:00
Collecting unidecode
  Downloading Unidecode-1.3.6-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 KB 11.2 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pandas_dedupe) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from dedupe>=2.0.0->pandas_dedupe) (4.5.0)
Collecting doublemetaphone
  Downloading DoubleMetaphone-1.1-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.8/149.8 KB 14.4 MB/s eta 0:00:00
Collecting BTrees>=4.1.4
  Downloading BTrees-5.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.7/3.7 MB 50.2 MB/s eta 0:00:00
Collecting zope.index
  Downloading zope.index-6.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.6/99.6 KB 9.9 MB/s eta 0:00:00
Collecting dedupe-variable-datetime
  Downloading dedupe_variable_datetime-1.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (from dedupe>=2.0.0->pandas_dedupe) (1.2.2)
Collecting affinegap>=1.3
  Downloading affinegap-1.12-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (56 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.6/56.6 KB 5.3 MB/s eta 0:00:00
Collecting haversine>=0.4.1
  Downloading haversine-2.8.0-py2.py3-none-any.whl (7.7 kB)
Collecting dedupe-Levenshtein-search
  Downloading dedupe_Levenshtein_search-1.4.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.9/62.9 KB 5.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.9/dist-packages (from dedupe>=2.0.0->pandas_dedupe) (1.22.4)
Collecting simplecosine>=1.2
  Downloading simplecosine-1.2-py2.py3-none-any.whl (3.2 kB)
Collecting highered>=0.2.0
  Downloading highered-0.2.1-py2.py3-none-any.whl (3.3 kB)
Collecting categorical-distance>=1.9
  Downloading categorical_distance-1.9-py3-none-any.whl (3.3 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pandas_dedupe) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pandas_dedupe) (2022.7.1)
Collecting zope.interface>=5.0.0
  Downloading zope.interface-6.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 246.1/246.1 KB 20.9 MB/s eta 0:00:00
Collecting persistent>=4.1.0
  Downloading persistent-5.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (230 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 230.7/230.7 KB 17.4 MB/s eta 0:00:00
Collecting pyhacrf-datamade>=0.2.0
  Downloading pyhacrf_datamade-0.2.6-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 46.0 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->pandas_dedupe) (1.16.0)
Collecting dedupe-variable-datetime
  Downloading dedupe_variable_datetime-0.1.5-py3-none-any.whl (4.8 kB)
Requirement already satisfied: future in /usr/local/lib/python3.9/dist-packages (from dedupe-variable-datetime->dedupe>=2.0.0->pandas_dedupe) (0.18.3)
Collecting datetime-distance
  Downloading datetime_distance-0.1.3-py3-none-any.whl (4.1 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->dedupe>=2.0.0->pandas_dedupe) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->dedupe>=2.0.0->pandas_dedupe) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->dedupe>=2.0.0->pandas_dedupe) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from zope.index->dedupe>=2.0.0->pandas_dedupe) (67.6.1)
Requirement already satisfied: cffi in /usr/local/lib/python3.9/dist-packages (from persistent>=4.1.0->BTrees>=4.1.4->dedupe>=2.0.0->pandas_dedupe) (1.15.1)
Collecting PyLBFGS>=0.1.3
  Downloading PyLBFGS-0.2.0.14-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (273 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 273.9/273.9 KB 21.5 MB/s eta 0:00:00
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi->persistent>=4.1.0->BTrees>=4.1.4->dedupe>=2.0.0->pandas_dedupe) (2.21)
Installing collected packages: doublemetaphone, dedupe-Levenshtein-search, affinegap, zope.interface, unidecode, simplecosine, PyLBFGS, haversine, categorical-distance, pyhacrf-datamade, persistent, datetime-distance, highered, BTrees, zope.index, dedupe-variable-datetime, dedupe, pandas_dedupe
Successfully installed BTrees-5.0 PyLBFGS-0.2.0.14 affinegap-1.12 categorical-distance-1.9 datetime-distance-0.1.3 dedupe-2.0.23 dedupe-Levenshtein-search-1.4.5 dedupe-variable-datetime-0.1.5 doublemetaphone-1.1 haversine-2.8.0 highered-0.2.1 pandas_dedupe-1.5.0 persistent-5.0 pyhacrf-datamade-0.2.6 simplecosine-1.2 unidecode-1.3.6 zope.index-6.0 zope.interface-6.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting recordlinkage
  Downloading recordlinkage-0.15-py3-none-any.whl (926 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 926.5/926.5 KB 13.5 MB/s eta 0:00:00
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from recordlinkage) (1.1.1)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.9/dist-packages (from recordlinkage) (1.22.4)
Collecting jellyfish>=0.8.0
  Downloading jellyfish-0.11.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 42.0 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.9/dist-packages (from recordlinkage) (1.10.1)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.9/dist-packages (from recordlinkage) (1.2.2)
Requirement already satisfied: pandas<2,>=1 in /usr/local/lib/python3.9/dist-packages (from recordlinkage) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas<2,>=1->recordlinkage) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas<2,>=1->recordlinkage) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.19.0->recordlinkage) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas<2,>=1->recordlinkage) (1.16.0)
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.11.0 recordlinkage-0.15

In [ ]:
import requests as rq
import pandas as pd
from io import BytesIO
import pandas_dedupe
from google.colab import files

In [ ]:
url = "https://raw.githubusercontent.com/Shawnli3287/5040-project-data/main/Main%20Records.xlsx"
data = rq.get(url).content
df_origin = pd.read_excel(BytesIO(data))

In [ ]:
url1 = "https://raw.githubusercontent.com/Shawnli3287/5040-project-data/main/Duplicates.xlsx"
data1 = rq.get(url1).content
df_duplicate = pd.read_excel(BytesIO(data1))

In [ ]:
df_origin

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue)
0,1f27cdd1,Schwartz,Daniel,12/09/2013,NaN,NaN,Pentecostalism and other Charismatic,NaN,White,NaN,NaN,English
1,3bb0e015,Wishart,Ray,07/24/2007,NaN,NaN,Sikhism,NaN,Southeast Asian,NaN,NaN,NaN
2,4b532e78,Woods,Shirley,07/10/2020,NaN,NaN,United Church,NaN,East Asian,NaN,NaN,Korean
3,612a0deb,Germon,Tom,09/06/2014,NaN,Indian,NaN,Indian,Indian,Canada,Canada,NaN
4,5c1ac840,Williams,Betty,04/28/2020,NaN,NaN,NaN,NaN,Black,Canada,Canada,English
...,...,...,...,...,...,...,...,...,...,...,...,...
19996,43d9ceca,Fernandez,Matthew,08/07/2015,NaN,American Indian,NaN,American Indian,American Indian,NaN,Canada,Arabic
19997,56c09f74,Matthews,Shari,02/28/2015,NaN,NaN,Other/not recorded,White,White,NaN,Canada,NaN
19998,25e05eb1,Konty,Lisa,12/15/2022,NaN,NaN,NaN,NaN,Black,NaN,NaN,English
19999,81d18750,Knowlton,Harold,10/24/2018,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,NaN
20000,dd469c5a,Bruce,Jessica,02/16/2020,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,Cantonese

In [ ]:
df_duplicate

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue)
0,73c2ab6a,NaN,Steven,01/13/2008,NaN,NaN,NaN,Indian,NaN,Canada,NaN,NaN
1,488f1063,NaN,Dorothy,05/02/2012,NaN,NaN,Jewish,NaN,NaN,NaN,NaN,NaN
2,331bea71,Yerian,Ellwood,08/18/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,English
3,ac3aaf9c,NaN,Robin,08/25/2013,NaN,NaN,NaN,Indian,NaN,Canada,NaN,English
4,ae9c2ae4,NaN,Raymond,05/25/2017,NaN,NaN,Other Christianity,NaN,NaN,Canada,NaN,English
...,...,...,...,...,...,...,...,...,...,...,...,...
10135,08606dd8,Avila,NaN,06/24/2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10136,8507e3f4,Fernandez,NaN,08/07/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10137,d5285223,Mathews,NaN,02/28/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10138,7157d300,Konty,NaN,12/15/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10139,8f88ce49,Knowlton,NaN,10/24/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Peparing and explore the data

In [ ]:
df_origin.isnull().sum()

ID                              0
Last Name                       0
First Name                      0
Date of Birth                   0
Mother's Birth Last Name    19100
Indigenous Identity         10846
Religion                    14437
Ethnicity                    7605
Race                            0
Place of Birth              11950
Citizenship                  3460
Language (Mother Tongue)     9032
dtype: int64

In [ ]:
df_duplicate.isnull().sum()

ID                              0
Last Name                    1354
First Name                   2982
Date of Birth                   0
Mother's Birth Last Name     9773
Indigenous Identity          9806
Religion                     9748
Ethnicity                    9279
Race                        10140
Place of Birth               9273
Citizenship                  8581
Language (Mother Tongue)     7910
dtype: int64

In [ ]:
new = pd.merge(df_origin, df_duplicate, on=['Last Name','First Name'])

In [ ]:
new.loc[0,:]

ID_x                            fc64a102
Last Name                        Johnson
First Name                         David
Date of Birth_x               04/19/2016
Mother's Birth Last Name_x           NaN
Indigenous Identity_x             Indian
Religion_x                           NaN
Ethnicity_x                       Indian
Race_x                            Indian
Place of Birth_x                  Canada
Citizenship_x                     Canada
Language (Mother Tongue)_x           NaN
ID_y                            e78d8ab1
Date of Birth_y               01/18/2011
Mother's Birth Last Name_y           NaN
Indigenous Identity_y                NaN
Religion_y                           NaN
Ethnicity_y                          NaN
Race_y                               NaN
Place of Birth_y                     NaN
Citizenship_y                     Canada
Language (Mother Tongue)_y       English
Name: 0, dtype: object

In [ ]:
new_id = pd.merge(df_origin, df_duplicate, on=['ID'])

In [ ]:
new_id

Empty DataFrame
Columns: [ID, Last Name_x, First Name_x, Date of Birth_x, Mother's Birth Last Name_x, Indigenous Identity_x, Religion_x, Ethnicity_x, Race_x, Place of Birth_x, Citizenship_x, Language (Mother Tongue)_x, Last Name_y, First Name_y, Date of Birth_y, Mother's Birth Last Name_y, Indigenous Identity_y, Religion_y, Ethnicity_y, Race_y, Place of Birth_y, Citizenship_y, Language (Mother Tongue)_y]
Index: []

[0 rows x 23 columns]

## Dedupe try

In [ ]:
df_origin

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue)
0,1f27cdd1,Schwartz,Daniel,12/09/2013,NaN,NaN,Pentecostalism and other Charismatic,NaN,White,NaN,NaN,English
1,3bb0e015,Wishart,Ray,07/24/2007,NaN,NaN,Sikhism,NaN,Southeast Asian,NaN,NaN,NaN
2,4b532e78,Woods,Shirley,07/10/2020,NaN,NaN,United Church,NaN,East Asian,NaN,NaN,Korean
3,612a0deb,Germon,Tom,09/06/2014,NaN,Indian,NaN,Indian,Indian,Canada,Canada,NaN
4,5c1ac840,Williams,Betty,04/28/2020,NaN,NaN,NaN,NaN,Black,Canada,Canada,English
...,...,...,...,...,...,...,...,...,...,...,...,...
19996,43d9ceca,Fernandez,Matthew,08/07/2015,NaN,American Indian,NaN,American Indian,American Indian,NaN,Canada,Arabic
19997,56c09f74,Matthews,Shari,02/28/2015,NaN,NaN,Other/not recorded,White,White,NaN,Canada,NaN
19998,25e05eb1,Konty,Lisa,12/15/2022,NaN,NaN,NaN,NaN,Black,NaN,NaN,English
19999,81d18750,Knowlton,Harold,10/24/2018,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,NaN
20000,dd469c5a,Bruce,Jessica,02/16/2020,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,Cantonese

In [ ]:
df_origin['Mother\'s Birth Last Name']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
19996    NaN
19997    NaN
19998    NaN
19999    NaN
20000    NaN
Name: Mother's Birth Last Name, Length: 20001, dtype: object

In [ ]:
df_duplicate['Last Name'].fillna(df_duplicate.iloc[:,4])

0              NaN
1              NaN
2           Yerian
3              NaN
4              NaN
           ...
10135        Avila
10136    Fernandez
10137      Mathews
10138        Konty
10139     Knowlton
Name: Last Name, Length: 10140, dtype: object

# Training the model

In [ ]:
# This is second use of model, it can jump over the active learning and read the configure from files (link_dataframes_learning_setting)
dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])

Importing data ...

<ipython-input-18-f8e6b003acc7>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])
<ipython-input-18-f8e6b003acc7>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])

Reading from link_dataframes_learned_settings
Clustering...
# duplicate sets 10140

<ipython-input-18-f8e6b003acc7>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])

## The output for the first training of the model

In [ ]:
"""
First active learn trainning output 
Importing data ...
<ipython-input-16-f8e6b003acc7>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])
<ipython-input-16-f8e6b003acc7>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])
Last Name : anaya
First Name : lisa
Date of Birth : 02/07/2013

Last Name : None
First Name : mary
Date of Birth : 02/07/2011

0/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished
Starting active labeling...
n
Last Name : fontenot
First Name : larry
Date of Birth : 06/13/2012

Last Name : None
First Name : jesse
Date of Birth : 06/13/2016

0/10 positive, 1/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : smith
First Name : christine
Date of Birth : 05/30/2021

Last Name : smith
First Name : None
Date of Birth : 07/30/2021

0/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : williams
First Name : michelle
Date of Birth : 07/05/2012

Last Name : williams
First Name : None
Date of Birth : 07/05/2015

0/10 positive, 3/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : williams
First Name : odette
Date of Birth : 01/27/2010

Last Name : williams
First Name : None
Date of Birth : 01/27/2012

0/10 positive, 4/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : anderson
First Name : kelly
Date of Birth : 01/22/2018

Last Name : anderson
First Name : None
Date of Birth : 01/22/2016

0/10 positive, 5/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : chandler
First Name : kimberly
Date of Birth : 08/26/2014

Last Name : chandler
First Name : kimberley
Date of Birth : 08/26/2014

0/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : krok
First Name : larry
Date of Birth : 05/17/2018

Last Name : croc
First Name : None
Date of Birth : 05/17/2018

1/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : davis
First Name : nicky
Date of Birth : 09/05/2012

Last Name : davis
First Name : nickey
Date of Birth : 09/05/2012

2/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : allen
First Name : danny
Date of Birth : 07/04/2016

Last Name : reaux
First Name : None
Date of Birth : 07/04/2012

3/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : potter
First Name : elizabeth
Date of Birth : 09/21/2011

Last Name : hudson
First Name : None
Date of Birth : 09/21/2013

3/10 positive, 7/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : forbus
First Name : janet
Date of Birth : 01/22/2016

Last Name : anderson
First Name : None
Date of Birth : 01/22/2016

3/10 positive, 8/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : munford
First Name : michael
Date of Birth : 01/18/2020

Last Name : None
First Name : michael
Date of Birth : 01/19/2020

3/10 positive, 9/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : gardner
First Name : patricia
Date of Birth : 04/07/2011

Last Name : None
First Name : patricia
Date of Birth : 04/07/2019

4/10 positive, 9/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : morrison
First Name : lorenza
Date of Birth : 01/29/2009

Last Name : None
First Name : john
Date of Birth : 01/29/2009

4/10 positive, 10/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : spera
First Name : ruth
Date of Birth : 06/19/2022

Last Name : spera
First Name : rueth
Date of Birth : 06/19/2022

4/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : curry
First Name : james
Date of Birth : 09/19/2015

Last Name : currey
First Name : james
Date of Birth : 09/19/2015

5/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : champ
First Name : jeffrey
Date of Birth : 12/14/2011

Last Name : champ
First Name : geoffrey
Date of Birth : 12/14/2011

6/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : dillon
First Name : terri
Date of Birth : 05/27/2021

Last Name : dillon
First Name : tarry
Date of Birth : 05/27/2021

7/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : bell
First Name : deborah
Date of Birth : 11/18/2010

Last Name : blumenstock
First Name : None
Date of Birth : 11/18/2010

8/10 positive, 11/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : smith
First Name : karen
Date of Birth : 12/05/2015

Last Name : smith
First Name : charon
Date of Birth : 12/05/2015

8/10 positive, 12/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : alcazar
First Name : juan
Date of Birth : 05/31/2021

Last Name : None
First Name : marian
Date of Birth : 05/31/2021

9/10 positive, 12/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : burris
First Name : mary
Date of Birth : 06/22/2016

Last Name : None
First Name : marvin
Date of Birth : 06/22/2012

9/10 positive, 13/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : walker
First Name : kenneth
Date of Birth : 02/21/2012

Last Name : None
First Name : joanne
Date of Birth : 02/21/2012

9/10 positive, 14/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : thornberg
First Name : lyn
Date of Birth : 10/29/2014

Last Name : None
First Name : dexter
Date of Birth : 10/29/2014

9/10 positive, 15/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : burks
First Name : robert
Date of Birth : 08/31/2008

Last Name : berkes
First Name : None
Date of Birth : 08/31/2008

9/10 positive, 16/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : jones
First Name : tracy
Date of Birth : 07/06/2014

Last Name : pines
First Name : None
Date of Birth : 07/06/2014

10/10 positive, 16/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : biggs
First Name : marguerite
Date of Birth : 08/04/2011

Last Name : biggs
First Name : margarete
Date of Birth : 08/04/2011

10/10 positive, 17/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : elgin
First Name : eric
Date of Birth : 10/27/2021

Last Name : elgin
First Name : ehrich
Date of Birth : 10/27/2021

11/10 positive, 17/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : peak
First Name : steven
Date of Birth : 12/19/2013

Last Name : peak
First Name : stephen
Date of Birth : 12/19/2013

12/10 positive, 17/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : poindexter
First Name : marcia
Date of Birth : 12/25/2021

Last Name : joens
First Name : None
Date of Birth : 12/25/2021

13/10 positive, 17/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : brown
First Name : brian
Date of Birth : 09/16/2010

Last Name : None
First Name : jonathan
Date of Birth : 09/16/2010

13/10 positive, 18/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : way
First Name : jane
Date of Birth : 10/17/2012

Last Name : way
First Name : jain
Date of Birth : 10/17/2012

13/10 positive, 19/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : quick
First Name : kevin
Date of Birth : 09/04/2016

Last Name : None
First Name : christine
Date of Birth : 09/04/2016

14/10 positive, 19/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : vranicar
First Name : liza
Date of Birth : 01/21/2019

Last Name : None
First Name : tamara
Date of Birth : 01/21/2019

14/10 positive, 20/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
n
Last Name : guevara
First Name : kathryn
Date of Birth : 09/26/2007

Last Name : guevara
First Name : catharine
Date of Birth : 09/26/2007

14/10 positive, 21/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
y
Last Name : cernota
First Name : barbara
Date of Birth : 09/04/2013

Last Name : None
First Name : paula
Date of Birth : 09/04/2013

15/10 positive, 21/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
f
Finished labeling
Clustering...
# duplicate sets 10140
<ipython-input-16-f8e6b003acc7>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])

"""

"\nFirst active learn trainning output \nImporting data ...\n<ipython-input-16-f8e6b003acc7>:1: FutureWarning: The default value of regex will change from True to False in a future version.\n  dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])\n<ipython-input-16-f8e6b003acc7>:1: FutureWarning: The default value of regex will change from True to False in a future version.\n  dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])\nLast Name : anaya\nFirst Name : lisa\nDate of Birth : 02/07/2013\n\nLast Name : None\nFirst Name : mary\nDate of Birth : 02/07/2011\n\n0/10 positive, 0/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished\nStarting active labeling...\nn\nLast Name : fontenot\nFirst Name : larry\nDate of Birth : 06/13/2012\n\nLast Name : None\nFirst Name : jesse\nDate of Birth : 06/13/2016\n\n0/10 positive, 1/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : smith\nFirst Name : christine\nDate of Birth : 05/30/2021\n\nLast Name : smith\nFirst Name : None\nDate of Birth : 07/30/2021\n\n0/10 positive, 2/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : williams\nFirst Name : michelle\nDate of Birth : 07/05/2012\n\nLast Name : williams\nFirst Name : None\nDate of Birth : 07/05/2015\n\n0/10 positive, 3/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : williams\nFirst Name : odette\nDate of Birth : 01/27/2010\n\nLast Name : williams\nFirst Name : None\nDate of Birth : 01/27/2012\n\n0/10 positive, 4/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : anderson\nFirst Name : kelly\nDate of Birth : 01/22/2018\n\nLast Name : anderson\nFirst Name : None\nDate of Birth : 01/22/2016\n\n0/10 positive, 5/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : chandler\nFirst Name : kimberly\nDate of Birth : 08/26/2014\n\nLast Name : chandler\nFirst Name : kimberley\nDate of Birth : 08/26/2014\n\n0/10 positive, 6/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : krok\nFirst Name : larry\nDate of Birth : 05/17/2018\n\nLast Name : croc\nFirst Name : None\nDate of Birth : 05/17/2018\n\n1/10 positive, 6/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : davis\nFirst Name : nicky\nDate of Birth : 09/05/2012\n\nLast Name : davis\nFirst Name : nickey\nDate of Birth : 09/05/2012\n\n2/10 positive, 6/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : allen\nFirst Name : danny\nDate of Birth : 07/04/2016\n\nLast Name : reaux\nFirst Name : None\nDate of Birth : 07/04/2012\n\n3/10 positive, 6/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : potter\nFirst Name : elizabeth\nDate of Birth : 09/21/2011\n\nLast Name : hudson\nFirst Name : None\nDate of Birth : 09/21/2013\n\n3/10 positive, 7/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : forbus\nFirst Name : janet\nDate of Birth : 01/22/2016\n\nLast Name : anderson\nFirst Name : None\nDate of Birth : 01/22/2016\n\n3/10 positive, 8/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : munford\nFirst Name : michael\nDate of Birth : 01/18/2020\n\nLast Name : None\nFirst Name : michael\nDate of Birth : 01/19/2020\n\n3/10 positive, 9/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : gardner\nFirst Name : patricia\nDate of Birth : 04/07/2011\n\nLast Name : None\nFirst Name : patricia\nDate of Birth : 04/07/2019\n\n4/10 positive, 9/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : morrison\nFirst Name : lorenza\nDate of Birth : 01/29/2009\n\nLast Name : None\nFirst Name : john\nDate of Birth : 01/29/2009\n\n4/10 positive, 10/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : spera\nFirst Name : ruth\nDate of Birth : 06/19/2022\n\nLast Name : spera\nFirst Name : rueth\nDate of Birth : 06/19/2022\n\n4/10 positive, 11/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : curry\nFirst Name : james\nDate of Birth : 09/19/2015\n\nLast Name : currey\nFirst Name : james\nDate of Birth : 09/19/2015\n\n5/10 positive, 11/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : champ\nFirst Name : jeffrey\nDate of Birth : 12/14/2011\n\nLast Name : champ\nFirst Name : geoffrey\nDate of Birth : 12/14/2011\n\n6/10 positive, 11/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : dillon\nFirst Name : terri\nDate of Birth : 05/27/2021\n\nLast Name : dillon\nFirst Name : tarry\nDate of Birth : 05/27/2021\n\n7/10 positive, 11/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : bell\nFirst Name : deborah\nDate of Birth : 11/18/2010\n\nLast Name : blumenstock\nFirst Name : None\nDate of Birth : 11/18/2010\n\n8/10 positive, 11/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : smith\nFirst Name : karen\nDate of Birth : 12/05/2015\n\nLast Name : smith\nFirst Name : charon\nDate of Birth : 12/05/2015\n\n8/10 positive, 12/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : alcazar\nFirst Name : juan\nDate of Birth : 05/31/2021\n\nLast Name : None\nFirst Name : marian\nDate of Birth : 05/31/2021\n\n9/10 positive, 12/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : burris\nFirst Name : mary\nDate of Birth : 06/22/2016\n\nLast Name : None\nFirst Name : marvin\nDate of Birth : 06/22/2012\n\n9/10 positive, 13/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : walker\nFirst Name : kenneth\nDate of Birth : 02/21/2012\n\nLast Name : None\nFirst Name : joanne\nDate of Birth : 02/21/2012\n\n9/10 positive, 14/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : thornberg\nFirst Name : lyn\nDate of Birth : 10/29/2014\n\nLast Name : None\nFirst Name : dexter\nDate of Birth : 10/29/2014\n\n9/10 positive, 15/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : burks\nFirst Name : robert\nDate of Birth : 08/31/2008\n\nLast Name : berkes\nFirst Name : None\nDate of Birth : 08/31/2008\n\n9/10 positive, 16/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : jones\nFirst Name : tracy\nDate of Birth : 07/06/2014\n\nLast Name : pines\nFirst Name : None\nDate of Birth : 07/06/2014\n\n10/10 positive, 16/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : biggs\nFirst Name : marguerite\nDate of Birth : 08/04/2011\n\nLast Name : biggs\nFirst Name : margarete\nDate of Birth : 08/04/2011\n\n10/10 positive, 17/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : elgin\nFirst Name : eric\nDate of Birth : 10/27/2021\n\nLast Name : elgin\nFirst Name : ehrich\nDate of Birth : 10/27/2021\n\n11/10 positive, 17/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : peak\nFirst Name : steven\nDate of Birth : 12/19/2013\n\nLast Name : peak\nFirst Name : stephen\nDate of Birth : 12/19/2013\n\n12/10 positive, 17/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : poindexter\nFirst Name : marcia\nDate of Birth : 12/25/2021\n\nLast Name : joens\nFirst Name : None\nDate of Birth : 12/25/2021\n\n13/10 positive, 17/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : brown\nFirst Name : brian\nDate of Birth : 09/16/2010\n\nLast Name : None\nFirst Name : jonathan\nDate of Birth : 09/16/2010\n\n13/10 positive, 18/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : way\nFirst Name : jane\nDate of Birth : 10/17/2012\n\nLast Name : way\nFirst Name : jain\nDate of Birth : 10/17/2012\n\n13/10 positive, 19/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : quick\nFirst Name : kevin\nDate of Birth : 09/04/2016\n\nLast Name : None\nFirst Name : christine\nDate of Birth : 09/04/2016\n\n14/10 positive, 19/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : vranicar\nFirst Name : liza\nDate of Birth : 01/21/2019\n\nLast Name : None\nFirst Name : tamara\nDate of Birth : 01/21/2019\n\n14/10 positive, 20/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nn\nLast Name : guevara\nFirst Name : kathryn\nDate of Birth : 09/26/2007\n\nLast Name : guevara\nFirst Name : catharine\nDate of Birth : 09/26/2007\n\n14/10 positive, 21/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\ny\nLast Name : cernota\nFirst Name : barbara\nDate of Birth : 09/04/2013\n\nLast Name : None\nFirst Name : paula\nDate of Birth : 09/04/2013\n\n15/10 positive, 21/10 negative\nDo these records refer to the same thing?\n(y)es / (n)o / (u)nsure / (f)inished / (p)revious\nf\nFinished labeling\nClustering...\n# duplicate sets 10140\n<ipython-input-16-f8e6b003acc7>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.\n  dedupe_new = pandas_dedupe.link_dataframes(df_origin, df_duplicate, ['Last Name', 'First Name', 'Date of Birth'])\n\n"

# Result

In [ ]:
dedupe_new

,Citizenship,Date of Birth,Ethnicity,First Name,ID,Indigenous Identity,Language (Mother Tongue),Last Name,Mother's Birth Last Name,Place of Birth,Race,Religion,cluster id,confidence
21595,None,04/29/2022,native hawaiian,camilla,db41c6a1,None,None,None,None,None,None,None,0.0,0.890079
9998,canada,04/29/2022,native hawaiian,camilla,d8bfb020,native hawaiian,None,gessel,None,None,native hawaiian,None,0.0,0.890079
21594,None,05/15/2018,None,yolanda,dde408f0,None,tagalog,None,None,canada,None,None,1.0,0.890079
9997,canada,05/15/2018,None,yolanda,931c1bc1,None,tagalog,reyes,None,canada,middle easterner,None,1.0,0.890079
9995,canada,08/28/2022,None,marion,12d04bfc,None,portuguese,burkhardt,None,canada,hispanic,pentecostalism and other charismatic,2.0,0.890079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19569,canada,08/10/2016,None,jack,bca52acd,None,None,sweet,None,canada,east asian,united church,NaN,NaN
19759,canada,11/12/2014,None,donna,df7a0a59,None,None,phares,None,canada,white,no religion,NaN,NaN
19873,None,12/14/2017,None,carlos,a9a00e75,None,vietnamese,wright,None,None,black,eastern orthodoxy,NaN,NaN
19966,canada,04/08/2009,alaska native,luciano,20f44412,alaska native,None,miller,None,None,alaska native,None,NaN,NaN
20000,canada,02/16/2020,alaska native,jessica,dd469c5a,alaska native,cantonese,bruce,None,None,alaska native,None,NaN,NaN

In [ ]:
dedupe_new.to_csv('golden record.csv', encoding = 'utf-8-sig')
#files.download('golden record.csv')

In [ ]:
df2 = dedupe_new[dedupe_new['ID'].duplicated() == True]

In [ ]:
after_dedupe = dedupe_new.copy(deep=True)
df = after_dedupe[after_dedupe['confidence'].notnull()]
df = df.reset_index(drop=True)

In [ ]:
origin_list = df_origin['ID'].to_list()
mian_record_after_dedupe = df.loc[df['ID'].isin(origin_list)]
mian_record_after_dedupe = mian_record_after_dedupe.reset_index(drop=True).sort_values('cluster id')

duplicate_list = df_duplicate['ID'].to_list()
duplicate_record_after_dedupe = df.loc[df['ID'].isin(duplicate_list)]
duplicate_record_after_dedupe = duplicate_record_after_dedupe.reset_index(drop=True).sort_values('cluster id')

In [ ]:
mian_record_after_dedupe

,Citizenship,Date of Birth,Ethnicity,First Name,ID,Indigenous Identity,Language (Mother Tongue),Last Name,Mother's Birth Last Name,Place of Birth,Race,Religion,cluster id,confidence
0,canada,04/29/2022,native hawaiian,camilla,d8bfb020,native hawaiian,None,gessel,None,None,native hawaiian,None,0.0,0.890079
1,canada,05/15/2018,None,yolanda,931c1bc1,None,tagalog,reyes,None,canada,middle easterner,None,1.0,0.890079
2,canada,08/28/2022,None,marion,12d04bfc,None,portuguese,burkhardt,None,canada,hispanic,pentecostalism and other charismatic,2.0,0.890079
3,canada,06/13/2016,middle easterner,jesse,ad419611,None,None,miles,None,canada,middle easterner,None,3.0,0.890079
4,None,07/09/2012,None,jean,d0007c4a,None,tagalog,plunk,None,None,white,judaism,4.0,0.890079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,canada,08/15/2015,None,guy,f9f44b67,None,korean,olson,None,canada,east asian,None,10135.0,0.060048
10136,None,08/07/2017,hispanic,michelle,19f2cb81,None,None,thai,None,None,hispanic,baptistism,10136.0,0.052506
10137,canada,06/08/2022,None,bob,04d10ce1,None,vietnamese,price,None,canada,black,None,10137.0,0.047446
10138,canada,04/24/2020,native hawaiian,jarred,ff683bc6,native hawaiian,korean,allen,None,None,native hawaiian,None,10138.0,0.045207
10139,canada,11/29/2011,east asian,jim,536b9ee4,None,korean,price,None,None,east asian,None,10139.0,0.040513

In [ ]:
duplicate_record_after_dedupe

,Citizenship,Date of Birth,Ethnicity,First Name,ID,Indigenous Identity,Language (Mother Tongue),Last Name,Mother's Birth Last Name,Place of Birth,Race,Religion,cluster id,confidence
0,None,04/29/2022,native hawaiian,camilla,db41c6a1,None,None,None,None,None,None,None,0.0,0.890079
1,None,05/15/2018,None,yolanda,dde408f0,None,tagalog,None,None,canada,None,None,1.0,0.890079
2,None,08/28/2022,None,marion,4e82ee4a,None,portuguese,None,None,canada,None,pentecostalism and other charismatic,2.0,0.890079
3,None,06/13/2016,middle easterner,jesse,3eef0d37,None,None,None,None,canada,None,None,3.0,0.890079
4,None,07/09/2012,None,jean,b2bd862f,None,tagalog,None,None,None,None,judaism,4.0,0.890079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,None,08/15/2015,None,gae,4491c51e,None,None,ohlsen,None,None,None,None,10135.0,0.060048
10136,None,08/07/2017,None,michele,23d9c5d9,None,None,pty,None,None,None,None,10136.0,0.052506
10137,None,06/08/2022,None,baab,8cef31c8,None,None,preiss,None,None,None,None,10137.0,0.047446
10138,None,04/24/2020,None,giard,a2363db8,None,None,alan,None,None,None,None,10138.0,0.045207
10139,None,11/29/2011,None,gym,e5cb00ec,None,None,preiss,None,None,None,None,10139.0,0.040513

In [ ]:
df_id = mian_record_after_dedupe['cluster id']
df_confidence = mian_record_after_dedupe['confidence']

In [ ]:
mian_record_after_dedupe.drop(['cluster id','confidence'], axis=1, inplace=True)
duplicate_record_after_dedupe.drop(['cluster id','confidence'], axis=1, inplace=True)
duplicate_record_after_dedupe.rename(columns={'Citizenship': 'Matched Citizenship',
                                              'Date of Birth': 'Matched Date of Birth' ,
                                              'Ethnicity': 'Matched Ethnicity',
                                              'First Name': 'Matched First Name',
                                              'ID': 'Matched ID',
                                              'Indigenous Identity': 'Matched Indigenous Identity',
                                              'Language (Mother Tongue)': 'Matched Language (Mother Tongue)',
                                              'Last Name': 'Matched Last Name',
                                              'Mother\'s Birth Last Name': 'Matched Mother\'s Birth Last Name',
                                              'Place of Birth': 'Matched Place of Birth',
                                              'Race': 'Matched Race',
                                              'Religion': 'Matched Religion'}, inplace=True)

In [ ]:
final_df = pd.concat([mian_record_after_dedupe,duplicate_record_after_dedupe,df_confidence,df_id],axis=1)

In [ ]:
final_df

,Citizenship,Date of Birth,Ethnicity,First Name,ID,Indigenous Identity,Language (Mother Tongue),Last Name,Mother's Birth Last Name,Place of Birth,...,Matched ID,Matched Indigenous Identity,Matched Language (Mother Tongue),Matched Last Name,Matched Mother's Birth Last Name,Matched Place of Birth,Matched Race,Matched Religion,confidence,cluster id
0,canada,04/29/2022,native hawaiian,camilla,d8bfb020,native hawaiian,None,gessel,None,None,...,db41c6a1,None,None,None,None,None,None,None,0.890079,0.0
1,canada,05/15/2018,None,yolanda,931c1bc1,None,tagalog,reyes,None,canada,...,dde408f0,None,tagalog,None,None,canada,None,None,0.890079,1.0
2,canada,08/28/2022,None,marion,12d04bfc,None,portuguese,burkhardt,None,canada,...,4e82ee4a,None,portuguese,None,None,canada,None,pentecostalism and other charismatic,0.890079,2.0
3,canada,06/13/2016,middle easterner,jesse,ad419611,None,None,miles,None,canada,...,3eef0d37,None,None,None,None,canada,None,None,0.890079,3.0
4,None,07/09/2012,None,jean,d0007c4a,None,tagalog,plunk,None,None,...,b2bd862f,None,tagalog,None,None,None,None,judaism,0.890079,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10135,canada,08/15/2015,None,guy,f9f44b67,None,korean,olson,None,canada,...,4491c51e,None,None,ohlsen,None,None,None,None,0.060048,10135.0
10136,None,08/07/2017,hispanic,michelle,19f2cb81,None,None,thai,None,None,...,23d9c5d9,None,None,pty,None,None,None,None,0.052506,10136.0
10137,canada,06/08/2022,None,bob,04d10ce1,None,vietnamese,price,None,canada,...,8cef31c8,None,None,preiss,None,None,None,None,0.047446,10137.0
10138,canada,04/24/2020,native hawaiian,jarred,ff683bc6,native hawaiian,korean,allen,None,None,...,a2363db8,None,None,alan,None,None,None,None,0.045207,10138.0
10139,canada,11/29/2011,east asian,jim,536b9ee4,None,korean,price,None,None,...,e5cb00ec,None,None,preiss,None,None,None,None,0.040513,10139.0

In [ ]:
final_df.to_csv('final table.csv', encoding = 'utf-8-sig')
files.download('final table.csv')