In [3]:
import pandas as pd

In [4]:
final = pd.read_csv("C:/Users/13903/Desktop/final_table.csv")
duplicate = pd.read_excel("C:/Users/13903/Desktop/Duplicates.xlsx")
main = pd.read_excel("C:/Users/13903/Desktop/Main Records.xlsx")

add cluster id from final table to main table in order to form the train data

In [5]:
main_final_ID = pd.DataFrame(final['ID'])
main_final_ID['cluster id'] = final['cluster id']
main_final_ID

            ID  cluster id
0     d8bfb020         0.0
1     931c1bc1         1.0
2     12d04bfc         2.0
3     ad419611         3.0
4     d0007c4a         4.0
...        ...         ...
9256  09b4a640      9256.0
9257  c52699d2      9257.0
9258  6ee971e3      9258.0
9259  8f6751fa      9259.0
9260  ddd4ed36      9260.0

[9261 rows x 2 columns]

In [6]:
temp = []
for i in range(len(main)):
  temp.append(-1)
main["cluster id"] = temp

In [7]:
for j in range(len(main_final_ID['ID'])): 
  for i in range(len(main['ID'])):
    if main['ID'][i] == main_final_ID['ID'][j]:
      main['cluster id'][i] = main_final_ID['cluster id'][j]
      pass

C:\Users\13903\AppData\Local\Temp\ipykernel_7152\4219367876.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main['cluster id'][i] = main_final_ID['cluster id'][j]

In [8]:
merge = pd.merge(
    left=main,
    right=main_final_ID,
    left_on="ID",
    right_on="ID",
    how="left"
)

In [9]:
main_sorted = main.sort_values(['cluster id'])

In [10]:
distinct_main_label = main.loc[main['cluster id'] == -1]
distinct_main_labeld = distinct_main_label.reset_index(drop=True, inplace=True)
distinct_main_label

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue),cluster id
0,1f27cdd1,Schwartz,Daniel,12/09/2013,NaN,NaN,Pentecostalism and other Charismatic,NaN,White,NaN,NaN,English,-1
1,3bb0e015,Wishart,Ray,07/24/2007,NaN,NaN,Sikhism,NaN,Southeast Asian,NaN,NaN,NaN,-1
2,4b532e78,Woods,Shirley,07/10/2020,NaN,NaN,United Church,NaN,East Asian,NaN,NaN,Korean,-1
3,612a0deb,Germon,Tom,09/06/2014,NaN,Indian,NaN,Indian,Indian,Canada,Canada,NaN,-1
4,5c1ac840,Williams,Betty,04/28/2020,NaN,NaN,NaN,NaN,Black,Canada,Canada,English,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10999,cadcc662,Sharp,Oscar,11/10/2015,Scharp,Native Hawaiian,NaN,Native Hawaiian,Native Hawaiian,NaN,Canada,English,-1
11000,20f44412,Miller,Luciano,04/08/2009,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,NaN,-1
11001,0453cd65,Cruz,Gregory,08/08/2022,NaN,NaN,NaN,NaN,Black,NaN,Canada,NaN,-1
11002,70311583,Avila,Steve,06/24/2014,NaN,NaN,NaN,NaN,White,NaN,Canada,NaN,-1
11003,dd469c5a,Bruce,Jessica,02/16/2020,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,Cantonese,-1

In [11]:
distinct_label = pd.DataFrame(pd.Series(range(10140, 20300)), columns=['cluster_id'])
distinct_label

       cluster_id
0           10140
1           10141
2           10142
3           10143
4           10144
...           ...
10155       20295
10156       20296
10157       20297
10158       20298
10159       20299

[10160 rows x 1 columns]

In [12]:
main_new = pd.concat([distinct_main_label, distinct_label], axis =1)
main_new.drop(columns=['cluster id'], inplace=True)
main_new

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue),cluster_id
0,1f27cdd1,Schwartz,Daniel,12/09/2013,NaN,NaN,Pentecostalism and other Charismatic,NaN,White,NaN,NaN,English,10140.0
1,3bb0e015,Wishart,Ray,07/24/2007,NaN,NaN,Sikhism,NaN,Southeast Asian,NaN,NaN,NaN,10141.0
2,4b532e78,Woods,Shirley,07/10/2020,NaN,NaN,United Church,NaN,East Asian,NaN,NaN,Korean,10142.0
3,612a0deb,Germon,Tom,09/06/2014,NaN,Indian,NaN,Indian,Indian,Canada,Canada,NaN,10143.0
4,5c1ac840,Williams,Betty,04/28/2020,NaN,NaN,NaN,NaN,Black,Canada,Canada,English,10144.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10999,cadcc662,Sharp,Oscar,11/10/2015,Scharp,Native Hawaiian,NaN,Native Hawaiian,Native Hawaiian,NaN,Canada,English,NaN
11000,20f44412,Miller,Luciano,04/08/2009,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,NaN,NaN
11001,0453cd65,Cruz,Gregory,08/08/2022,NaN,NaN,NaN,NaN,Black,NaN,Canada,NaN,NaN
11002,70311583,Avila,Steve,06/24/2014,NaN,NaN,NaN,NaN,White,NaN,Canada,NaN,NaN
11003,dd469c5a,Bruce,Jessica,02/16/2020,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,Cantonese,NaN

In [13]:
main_clustered = main[main['cluster id'] > -1]
main_clustered.rename(columns={'cluster id':'cluster_id'}, inplace = True)
main_clustered

C:\Users\13903\AppData\Local\Temp\ipykernel_7152\1406321440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  main_clustered.rename(columns={'cluster id':'cluster_id'}, inplace = True)

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue),cluster_id
2393,5d322502,Miller,Marian,04/08/2009,NaN,NaN,NaN,Black,Black,Canada,Canada,Spanish,7383
2803,cb90c9e8,Jackson,James,09/17/2021,NaN,Native Hawaiian,NaN,Native Hawaiian,Native Hawaiian,NaN,Canada,English,1027
4004,ed68be4d,Tolbert,Steven,01/13/2008,NaN,Indian,NaN,Indian,Indian,Canada,Canada,NaN,1026
4008,e73ea697,Boling,Dorothy,05/02/2012,NaN,NaN,Jewish,NaN,White,NaN,NaN,NaN,1025
4014,24d31a35,Yerian,Elwood,08/18/2019,NaN,NaN,Islam,NaN,Middle Easterner,NaN,Canada,English,8465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,ae7b340f,Rahm,Amy,09/25/2008,NaN,Indian,NaN,Indian,Indian,Canada,Canada,Urdu,1358
19996,43d9ceca,Fernandez,Matthew,08/07/2015,NaN,American Indian,NaN,American Indian,American Indian,NaN,Canada,Arabic,1356
19997,56c09f74,Matthews,Shari,02/28/2015,NaN,NaN,Other/not recorded,White,White,NaN,Canada,NaN,7859
19998,25e05eb1,Konty,Lisa,12/15/2022,NaN,NaN,NaN,NaN,Black,NaN,NaN,English,1355
19999,81d18750,Knowlton,Harold,10/24/2018,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,NaN,1354

In [14]:
final_main = pd.concat([main_clustered, main_new], axis=0)
final_main

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue),cluster_id
2393,5d322502,Miller,Marian,04/08/2009,NaN,NaN,NaN,Black,Black,Canada,Canada,Spanish,7383.0
2803,cb90c9e8,Jackson,James,09/17/2021,NaN,Native Hawaiian,NaN,Native Hawaiian,Native Hawaiian,NaN,Canada,English,1027.0
4004,ed68be4d,Tolbert,Steven,01/13/2008,NaN,Indian,NaN,Indian,Indian,Canada,Canada,NaN,1026.0
4008,e73ea697,Boling,Dorothy,05/02/2012,NaN,NaN,Jewish,NaN,White,NaN,NaN,NaN,1025.0
4014,24d31a35,Yerian,Elwood,08/18/2019,NaN,NaN,Islam,NaN,Middle Easterner,NaN,Canada,English,8465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10999,cadcc662,Sharp,Oscar,11/10/2015,Scharp,Native Hawaiian,NaN,Native Hawaiian,Native Hawaiian,NaN,Canada,English,NaN
11000,20f44412,Miller,Luciano,04/08/2009,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,NaN,NaN
11001,0453cd65,Cruz,Gregory,08/08/2022,NaN,NaN,NaN,NaN,Black,NaN,Canada,NaN,NaN
11002,70311583,Avila,Steve,06/24/2014,NaN,NaN,NaN,NaN,White,NaN,Canada,NaN,NaN
11003,dd469c5a,Bruce,Jessica,02/16/2020,NaN,Alaska Native,NaN,Alaska Native,Alaska Native,NaN,Canada,Cantonese,NaN

In [17]:
final_main_clean = final_main[final_main['cluster_id'].isna() == False]
final_main_clean

,ID,Last Name,First Name,Date of Birth,Mother's Birth Last Name,Indigenous Identity,Religion,Ethnicity,Race,Place of Birth,Citizenship,Language (Mother Tongue),cluster_id
2393,5d322502,Miller,Marian,04/08/2009,NaN,NaN,NaN,Black,Black,Canada,Canada,Spanish,7383.0
2803,cb90c9e8,Jackson,James,09/17/2021,NaN,Native Hawaiian,NaN,Native Hawaiian,Native Hawaiian,NaN,Canada,English,1027.0
4004,ed68be4d,Tolbert,Steven,01/13/2008,NaN,Indian,NaN,Indian,Indian,Canada,Canada,NaN,1026.0
4008,e73ea697,Boling,Dorothy,05/02/2012,NaN,NaN,Jewish,NaN,White,NaN,NaN,NaN,1025.0
4014,24d31a35,Yerian,Elwood,08/18/2019,NaN,NaN,Islam,NaN,Middle Easterner,NaN,Canada,English,8465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10155,56496712,Crutcher,Alicia,11/17/2016,NaN,NaN,Other Christianity,NaN,Southeast Asian,Canada,Canada,NaN,20295.0
10156,a801805e,Morris,Johanna,01/22/2014,Morice,NaN,NaN,NaN,Middle Easterner,NaN,NaN,English,20296.0
10157,df377f5f,Mann,Lena,10/14/2018,NaN,Pacific Islander,NaN,Pacific Islander,Pacific Islander,NaN,Canada,NaN,20297.0
10158,d4f04ec2,Rolling,Virginia,04/02/2021,NaN,American Indian,NaN,American Indian,American Indian,NaN,Canada,NaN,20298.0
10159,90b3bf67,Garner,Rose,01/07/2020,NaN,American Indian,NaN,American Indian,American Indian,NaN,Canada,NaN,20299.0

In [18]:
final_main_clean.to_csv("C:/Users/13903/Desktop/final_main.csv", index=False, encoding='utf-8')